%tr{:id => "workshop_#{workshop.id}", :class=> 'workshop'}
  %td= workshop.name
  %td= workshop.street
  %td= workshop.city
  %td= workshop.phone
  %td= workshop.email
  %td= workshop.www
  %td= link_to 'Edycja', edit_workshop_path(workshop)
  %td= link_to 'Usuń', workshop_path(workshop), :method => :delete, :cofirm => 'Czy napewno chcesz usunąć?'
  