.partial
  .header.workshops
  .body
    %br
    %br
    .map{:style => 'float: left;width:38%;'}
      %object{:width => "167", :height => "167", :data => "/mapa.swf", :type => "application/x-shockwave-flash"}
        %param{:value => "/mapa.swf", :name => "movie"}
        %param{:value => "transparent", :name => "wmode"}
       
      - if @main_workshop
        %br
        %b SERWIS
        %br         
        = @main_workshop.name
        %br
        = @main_workshop.street + ' ' + @main_workshop.city
        %br
        = @main_workshop.phone
        %br
        %span{:style => 'color: #feb100;'}= @main_workshop.www

    - if @main_workshop
      .image_box{:style => 'float:left;width: 58%;'}
        #state
          %b{:style => 'padding-left: 30px;'}= "WOJEWÓDZTWO #{@main_workshop.state.name.upcase}" 
        = image_tag "shadow-small.jpg"
        %br
        %br
        = image_tag @main_workshop.assets.first.public_filename, :style => 'padding-left: 30px;' if @main_workshop.assets.first
    .clr
    
    %br
    = image_tag 'shadow.jpg'
    %br
    %br
    #table
      = render :partial => 'workshops'

    = image_tag 'shadow.jpg'
    = link_to image_tag('workshop-wheel.jpg', :style => 'margin: -10px;'), new_workshop_path
      
