<div class="partial">
  <div class="header p_team_index"> <%#= @team.name %></div>
  <div class="body">
    <div>
      <div class="team_nav">

        <div class="team_edit">
          <% if @team.rights?(curuser) %>
            <%= link_to (image_tag "/edit.png"), edit_team_path(@team), {:title => "Edytuj grupę", :class => "picture_link"} %>
          <% end %>
          <span class="team_opt">
            <% if @team.member?(curuser) %>
              <%= link_ "Forum grupy", "forum", "list", @team.forum %>
            <% elsif !@team.pending?(curuser) %>
              <%= link_to "Dołącz do grupy", join_team_path(@team) %>
            <%end%>
          </span>
	  
        </div>

        <div class="team_del">

          <span class="team_opt" >
            <% if !@team.rights?(curuser) && ( @team.member?(curuser) or @team.pending?(curuser) ) %>
              <%= link_to "Opuść grupę", leave_team_path(@team), :confirm => "Czy jesteś pewien, że chcesz opuścić grupę?" %>
            <% end %>
          </span>

          <% if @team.rights?(curuser) %>
            <%= link_to (image_tag "/delete.png"), destroy_team_path(@team), {:title => "Usuń grupę", :class => "picture_link", :confirm => "Czy na pewno chcesz usunąć tę grupę?"} %>
          <% end %>
        </div>


        <div class="clr"></div>
        <br/>
      </div>

      <span style="font-size:9pt" class="grey_text">Liczba użytkowników:</span> <%= @team.users.count %><br/><br/>
      <%  if @team.pending?(curuser)%>
        <span style="font-size:7pt" class="grey_text">Oczekujesz na przyjęcie do tej grupy</span>
      <% end %>


      <div class="team_description"><%=ntobr @team.description%> </div>


    </div>
  </div>
</div>




<%= render :partial => "teams/latest_topic", :locals => {:top_topics => @top_topics, :latest_topics => @latest_topics} if @team.member?(curuser)%>


<div class="partial ">
  <div class="header p_team_latest"></div>
  <div class="body">
    <%= render :partial => "teams/users" %>

    <% unless @team.pending_users.blank? %>
      <hr/>
      <hr/>
      <%= render :partial => "teams/pending_users" %>
    <% end %>
  </div>
</div>

