%fieldset
  %legend Ogłoszenie



  %div
    = form.label :title, 'Tytuł'
    = form.error_message_on :title
    = form.text_field :title, :size => 80

  %div
    = form.label :description, 'Opis'
    = form.error_message_on :description
    = form.text_area :description, :size => 80

  %div
    = form.label :email, 'Email'
    = form.error_message_on :email
    = form.text_field :email, :size => 80

  %div
    = form.label :phone, 'Telefon'
    = form.error_message_on :phone
    = form.text_field :phone, :size => 80

  %div
    = form.hidden_field :serial

