.partial
  .header.ads
  .body
    %div.ads_search
      - form_tag '/ads/search' do
        %fieldset{ :style => 'border:none;'}
          %div
            = label_tag :ad_type, 'Szukaj ogłoszenia'
            %br
            = select_tag :ad_type, options_for_select(ad_types_for_select)

          %div
            = label_tag :category, 'Kategoria'
            %br
            = select_tag :category, '<option value=""></option>' + options_for_select(categories_for_select)

          %span{:style => 'text-decoration: underline;'} wyszukiwanie zaawansowane
          %br
          %br

          %div
            = label_tag :state_id, 'Województwo'
            %br
            = select_tag :state_id, '<option value=""></option>' + options_for_select(State.all.map{|map| [map.name, map.id]})

          %div
            = label_tag :price_range, 'Cena'
            %br
            = select_tag :price_range, '<option value=""></option>' + options_for_select(ad_prices_for_select)
            PLN

          %div
            = label_tag :company, 'Marka'
            %br
            = select_tag :company, '<option value=""></option>' + options_for_select(Company.all.map{|company| [company.name, company.name]})

          %div
            = label_tag :kind, 'Typ'
            %br
            = text_field_tag :kind

          %div
            = label_tag :year, 'Rok'
            %br
            = select_year Date.today

          %div
            = label_tag :mileage_range, 'Przebieg'
            %br
            = select_tag :mileage_range, '<option value=""></option>' + options_for_select(ad_mileages_for_select)
            km

          %div
            = label_tag :capacity, 'Pojemność'
            %br
            = select_tag :capacity, '<option value=""></option>' + options_for_select(ad_capacitys_for_select)
            cm3

          %div
            = label_tag :condition, 'Rodzaj'
            %br
            = select_tag :condition, '<option value=""></option>' + options_for_select(conditions_for_select)

          %div
            = label_tag :seller, 'Sprzedaje'
            %br
            = select_tag :seller, '<option value=""></option>' + options_for_select(sellers_for_select)

          .button_silver_67{:style => "float:right"}
            = submit_tag 'Szukaj'

    %div{:style => 'float: right;padding-top: 30px;'}
      = link_to image_tag('add_ad.jpg'), new_sale_ad_path

    .clr
    

.partial
  .header.day_ad
  .body
    - if @day_offer
      = image_tag(@day_offer.assets.first.public_filename) if !@day_offer.assets.empty?
      %br
      = @day_offer.company
      %br
      = @day_offer.price

.partial
  .header.special_ads
  .body
    - @special_ads.each do |special_ad|
      %div{:style => 'border: solid 1px grey; width: 100%;'}
        %div{:style => 'float: left;'}
          = image_tag(special_ad.assets.first.public_filename(:thumb)) if !special_ad.assets.empty?
        %div{:style => 'float: left;padding-left: 20px;'}

          = special_ad.company
          %br
          %br	
          = special_ad.price
        .clr  
