<p>Witaj, <%= @user.login %>!</p>
<br/>
<p>Dostał<%=@user.sex=='k' ? "a" : "e"%>ś tego emaila, ponieważ użyto opcji resetowania
hasła w naszym serwisie i podano Twój email.</p><p>
Jeśli nie używał<%=@user.sex=='k' ? "a" : "e"%>ś takiej opcji, po prostu zignoruj
tę wiadomość.
</p>
<p>
Jeśli zechcesz zresetować swoje hasło, kliknij na poniższym linku:
<a href="http://quadomaniacy.pl/users/reset/<%= @edit_password_reset_url%>">http://quadomaniacy.pl/user/reset/<%= @edit_password_reset_url%></a>
</p>
<p>Jeśli to nie pomoże, skontaktuj się z nami na adres admin@quadomaniacy.pl</p>
<p style="white-space: pre">
--
Pozdrawiamy,
ekipa quadomaniacy.pl</p>
