.form_row
  = form.label :web_store, 'Sklep internetowy'
  = form.select :web_store, yes_no_for_select
  = form.error_message_on :web_store
%br
.form_row
  = form.label :name, 'Nazwa *'
  = form.text_field :name
  = form.error_message_on :name
%br
.form_row
  = form.label :street, 'Ulica'
  = form.text_field :street
  = form.error_message_on :street
%br
.form_row
  = form.label :city, 'Miasto'
  = form.text_field :city
  = form.error_message_on :city
%br
.form_row
  = form.label :state_id, 'Województwo'
  = form.collection_select :state_id, State.all, :id, :name
  = form.error_message_on :state_id
%br
.form_row
  = form.label :phone, 'Telefon'
  = form.text_field :phone
  = form.error_message_on :phone
%br
.form_row
  = form.label :email, 'E-mail'
  = form.text_field :email
  = form.error_message_on :email
%br
.form_row
  = form.label :www, 'Adres www'
  = form.text_field :www
  = form.error_message_on :www
.form_row
  = form.hidden_field :serial


