.partial
  .header.shops
  .body
    %br
    %br
    .map{:style => 'float: left;width:38%;'}
      %object{:width => "167", :height => "167", :data => "/mapa.swf", :type => "application/x-shockwave-flash"}
        %param{:value => "/mapa.swf", :name => "movie"}
        %param{:value => "transparent", :name => "wmode"}
       
      - if @main_shop
        %br
        %b SERWIS
        %br         
        = @main_shop.name
        %br
        = @main_shop.street + ' ' + @main_shop.city
        %br
        = @main_shop.phone
        %br
        %span{:style => 'color: #feb100;'}= @main_shop.www

    - if @main_shop
      .image_box{:style => 'float:left;width: 60%;'}
        #state
          %b{:style => 'padding-left: 30px;'}
            = "WOJEWÓDZTWO #{@main_shop.state.name.upcase}" if @main_shop.state
        = image_tag "shadow-small.jpg"
        %br
        %br
        = image_tag @main_shop.assets.first.public_filename(:main), :style => 'padding-left: 30px;' if @main_shop.assets.first
    .clr
    
    %br
    = image_tag 'shadow.jpg'
    %br
    %br
    #table
      = render :partial => 'shops'

    = image_tag 'shadow.jpg'
    %div{:style => "background-image: url('/images/shops-quad.jpg');margin: -10px -10px -10px 166px;padding-bottom: 153px;"}
      = link_to image_tag('add_your_company.jpg', :style => 'margin-top: 24px;margin-left:-146px;'), new_shop_path
    .clr
