<div class="partial">
  <div class="header p_photo"></div>
  <div class="body" style="padding-left:5px;">
<%= render :partial => "photo/nav", :locals => {:photo => @photo, :gallery => @gallery, :user => (@gallery.user.nil? ? @gallery.event : @gallery.user) } %>
    <%= image_tag(@photo.link,:style => "margin:4px 0px 4px 0px;") %><br/>
    <div style="font-size:10pt; font-weight: bold">
      <div style="float:left">Średnia ocena: <%= @photo.prate.votes==0 ? 0 : (@photo.prate.sum.to_f / @photo.prate.votes).round(2)%></div>
      <div style="float:right">Ilość wyświetleń: <%= @photo.counter %> razy</div>
      <div style="clear:both"></div>
    </div>
    <br/>
    <% if @photo.description != "" %>
      <div class="partial" style="padding-left:20px;text-align:left;padding-top:20px;padding-bottom:20px;margin:0px;">
        <%= @photo.description %>
      </div>
    <% end %>


    <br/>
    <%= render :partial => "photo/nav2", :locals => {:photo => @photo, :prev => @prev, :nxt => @nxt} %>
    <br/><br/>
    <% begin %>
      <% form_for :prate, :url => {:controller => "prate", :action => "vote", :id => @photo.id}do |f|%>
        <p>
          <%= f.select :vote , (1..5).collect{|x| [x,x]}%>
          <%= f.submit "Głosuj!" %>
        </p>

      <% end %>
      <br/><br/>
    <% end unless @photo.prate.users.include? curuser %>


    <%  if @photo.gallery.user.nil? or @photo.gallery.user == curuser or @photo.gallery.user.friends.include? curuser%>
      <div class="new_comment">
        <%  form_for :comment, :url => {:controller => "pcomment", :action => "new", :id => @photo.id}do |f|%>
          <%= f.text_area :content, :style => "height: 100px; width:100%; border:1px solid #aaa"%>
        <div class="clr"></div>
          <div class="button_silver_67" style="font-size:10pt; font-weight: bold;float:right;margin-top:7px;">
            <a style="" href="#" onclick="parentNode.parentNode.submit(); return false">Dodaj</a>
          </div>
          <div class="clr"></div>
        <% end %>
      </div>
    <% end %>
    
    <br/>
    <div class="comment_info">
      <% if @photo.pcomments.empty? %>

        To zdjęcie nie ma jeszcze komentarzy...
      <% else %>
        <hr class="dotted" style="width:75%"/>
        Komentarze:
      <% end %>
    </div>

    <% for comment in @photo.pcomments.reverse %>
      <div class="comment">
        <div class="comment_user">
          <%= img comment.user.photo %>
          <%= link_ comment.user.login, "user", "show", comment.user.id%>
        </div>
        <div class="comment_content">
          <%=ntobr comment.content %>
        </div>
        <div class="clr"></div>
        <div class="comment_other">
          <%= lt comment.created_at %>
          <%= link_ "Usuń komentarz", "pcomment", "delete", comment.id, "Czy na pewno chcesz usunąć komentarz?" if @photo.rights?(curuser) %>
        </div>
      </div>
    <% end %>

  </div>
</div>