<div class="partial">
  <div class="header p_about"></div>
  <div class='body'>

    <div class="lcol_user">
      <div class="about_head">
        <div class="photo">
          <%= image_tag user.photo.public_filename(:main), :class=>"about_photo" if user.photo %>
        </div>
        <div style="font-weight: bold;">
          <%= user.login%>
        </div>
        <% if quad %>
          <div>
            <b><%= quad.company %><br/><%= quad.qtype %></b> <br/>
          </div>
        <% end %>
      </div>
    </div>

    <div class="rcol_user">
      <div class="about_links">
        <div>
          <%= link_ "Znajomi", "users", "friends", @user.id %>
          <div>(<%= @user.friends.length%>)</div>
        </div>
        <div>
          <%= link_ "Galeria", "gallery", "list", @user.id%>
          <div>(<%= @user.galleries.length%>)</div>
        </div>


        <% unless @user==curuser %>
          <div>
            <%= link_ "Napisz wiadomość", "message", "new", @user.id %>
          </div>
        <% end %>
        <div>
          <%= link_ "Moje imprezy", "events", "list", @user.id%>
        </div>
        <% unless @user.friend?(curuser) or curuser.pending?(@user) or @user==curuser  %>
          <div>
            <%= (link_ "Zaproś do znajomych", "relationship", "req", @user.id)%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clr"></div>


    <div class="about">
      <div>Imię:  <%=  user.name if agree(user)  %></div>
      <div>Nazwisko: <%= user.surname if agree(user) %></div>
      <div>Wiek: <%=ltdiff user.birth if agree(user)%></div>
      <div>Płeć:<%= user.sex == "m" ? "Mężczyzna" : user.sex == "k" ? "Kobieta" : ""%></div>
      <div>Województwo: <%= user.state.name  if agree(user) && user.state %></div>
      <div>Miejscowość: <%= user.city  if agree(user)%></div>
      <div>GG: <%= user.gg  if agree(user)%></div>
      <div>Login Skype: <%= user.skype  if agree(user)%></div>
      <div>Telefon: <%= user.phone  if agree(user)%></div>
      <div>O mnie: <%=ntobr user.about %> </div>
    </div>
  </div>
</div>
