.partial.user-profil
  .header.p_about
  .body
    .lcol_user
      .about_head
        .photo
          = user.photo.nil? ? image_tag("/80_anon.png") : image_tag(user.photo.public_filename(:main), :class=>"about_photo")
        .user-info
          .nick= @user.login
          - if quad
            %div{:style => 'color: #F5D048;'}
              %b= quad.company.name + ' ' +quad.qtype
          %div= @user.city
    .rcol_user
      .about_links{:style => "font-size:10px"}
        %div
          = link_ "Znajomi", "users", "friends", @user.id 
          %div= "(#{@user.friends.length})"
        %div
          = link_ "Galeria", "galleries", "index", @user.id
          %div= "(#{@user.galleries.length})"
        %div
          = link_ "Moje imprezy", "events", "list", @user.id
        - unless @user == curuser
          %div
            = link_ "Napisz wiadomość", "messages", "new", @user.id
        %div
          = link_to "Moje grupy", myteams_user_path(@user)
        %div
          = link_to "Moje ogłoszenia", my_ads_path
        - unless @user.friend?(curuser) or current_user.pending?(@user) or @user == curuser
          .request_friendship_in_profile_page
            = link_ "Zaproś do znajomych", "relationship", "req", @user.id

    .clr
    .about
      .col_left
        %div
          %span.label
            Imię:
          = " #{user.name if agree(user)}"
        %div
          %span.label
            Nazwisko:
          = " #{user.surname if agree(user)}"
        %div
          %span.label
            Wiek:
          = " #{ltdiff user.birth if agree(user)}"
        %div
          %span.label
            Płeć:
          = " #{user.sex == 'm' ? 'Mężczyzna' : user.sex == 'k' ? 'Kobieta' : ''}"
      .col_right
        %div
          %span.label
            Województwo:
          = " #{user.state.name  if agree(user) && user.state}"
        %div
          %span.label
            Miejscowość:
          = " #{user.city  if agree(user)}"
        %div
          %span.label
            GG:
          = " #{user.gg  if agree(user)}"
        %div
          %span.label
            Login Skype:
          = " #{user.skype  if agree(user)}"
      .clr



