.partial
  .header.p_comments
  .body
    - if @user
      .new_comment
        - form_for :comment, :url => comments_path do |f|
          = hidden_field_tag :commentable_id, @user.id
          = hidden_field_tag :commentable_type, @user.class

          = f.text_area :content, :style => "height: 100px; width:85%; border:1px solid #aaa"
          = f.submit 'Dodaj', :class => 'submit'

    .clr

    .comment_info
      - if @user.comments.empty?
        Ten użytkownik nie ma jeszcze komentarzy...
      - else
        %hr
        Komentarze:

    - for comment in @user.comments.reverse
      .comment
        - if comment.user
          .comment_user
            = img comment.user.photo
            = link_ comment.user.login, "user", "show", comment.user.id

        .comment_content
          = h comment.content

        .clr

        .comment_other
          = comment.created_at.strftime("%d.%m.%Y, %H:%M")
          - if comment.user_id == current_user or comment.commentable == current_user
            = link_to "Usuń komentarz", comment_path(comment), :method => :delete, :confirm => "Czy na pewno chcesz usunąć komentarz ?"