.partial
  .header.p_comments
  .body
    .new_comment
      - form_for Comment.new do |f|
        = hidden_field_tag :commentable_id, commentable.id
        = hidden_field_tag :commentable_type, commentable.class.to_s

        = f.text_area :content, :style => "height: 100px; width:85%; border:1px solid #aaa"
        = f.submit 'Dodaj', :class => 'submit'

    .clr

    .comment_info
      - if commentable.comments.blank?
        Brak komentarzy ...
      - else
        %hr
        Komentarze:

    - for comment in commentable.comments.reverse
      .comment
        - if comment.user
          .comment_user
            = image_tag comment.user.photo.public_filename(:thumb) if comment.user.photo
            = link_to comment.user.login, user_path(comment.user)

        .comment_content
          = h comment.content

        .clr

        .comment_other
          = comment.created_at.strftime("%d.%m.%Y, %H:%M")
          - if comment.user_id == current_user or comment.commentable == current_user
            = link_to "Usuń komentarz", comment_path(comment), :method => :delete, :confirm => "Czy na pewno chcesz usunąć komentarz ?"