<%- form.fields_for :quad do |f| -%>
      <div class="form_row">
        <%= f.label :company, "Marka" %>
        <%= f.select :company, quads_for_select  %>
      </div>
      <div class="form_row">
        <%= f.label :qtype, "Typ" %>
        <%= f.text_field :qtype %>
      </div>
      <div class="form_row">
        <%= f.label :description, "Opis" %>
        <%= f.text_area :description, :rows => 5, :cols => 40 %>
      </div>
      <div class="button_silver_67" style="font-size:10pt; font-weight: bold;float:right;margin-top:7px;">
        <a style="color: #222;" href="#" onclick="parentNode.parentNode.parentNode.parentNode.submit(); return false">Zapisz</a>
      </div>
      <div class="clr"></div>
<% end %>
