<div class="partial">
  <div class="header p_user_edit"></div>
  <div class="body">
    <div style="text-align:center;">
      <%= @user.photo.nil? ? image_tag("/anon.png") + "<br/><span class=\"nophoto\">           Nie masz jeszcze zdjęcia głównego.      #{link_ "Dodaj", "gallery", "list"}</span>" : image_tag(@user.photo.thumb)%>
      <div class="mod_userinfo">
        <p><%= @user.login %></p>
        <%= @user.email %>
      </div>
    </div>
  </div>
</div>

<% form_for(setup_user(@user)) do |f| %>
  <div class="partial">
    <div class="header p_user_edit_mydata"></div>
    <div class="body">
      <div class="form_row">
        <%= f.label :name, "Imię"%>
        <%= f.text_field :name %>
      </div>
      <div class="form_row">
        <%= f.label :surname ,"Nazwisko"%>
        <%= f.text_field :surname %>
      </div>
      <div class="form_row">
        <%= f.label :sex , "Kobieta" %>
        <%= f.radio_button :sex, "k"%>

      </div>
      <div class="form_row">
        <%= f.label :sex , "Mężczyzna" %>
        <%= f.radio_button :sex, "m"%>

      </div>
      <div class="form_row">
        <%= f.label :birth , "Data urodzenia" %>
        <%= f.date_select :birth , {:order => [:day, :month, :year], :default => nil, :include_blank => 1, :start_year => Time.now.year - 90, :end_year => Time.now.year},  :class => "date_select" %>
        <div class="clear"></div>
      </div>
      <div class="form_row">
        <%= f.label :state_id ,"Województwo"%>
	<%= f.collection_select :state_id, State.all, :id, :name %>
      </div>
      <div class="form_row">
        <%= f.label :city , "Miejscowość"%>
        <%= f.text_field :city %>
      </div>
      <div class="form_row">
        <%= f.label :gg , "Numer GG"%>
        <%= f.text_field :gg %>
      </div>
      <div class="form_row">
        <%= f.label :skype,"Login Skype" %>
        <%= f.text_field :skype %>
      </div>
      <div class="form_row">
        <%= f.label :phone, "Telefon" %>
        <%= f.text_field :phone %>
      </div>
      <div class="form_row">
        <%= f.label :about, "O mnie" %>
        <%= f.text_area :about %>
      </div>
    </div>
  </div>
  <div class="partial">
    <div class="header p_user_edit_qdata"></div>
    <div class="body">
      <%= render :partial => 'quad_fields', :locals => { :form => f } -%>
    </div>
  </div>


<% end %>
