<div class="partial">
  <div class="header p_user_var">Podaj nowe hasła.
  </div>
  <div class="body">
    <% form_for(:user) do |f| %>

      <div class="form_row">
        <%= f.label :password, "Hasło" %><br />
        <%= f.password_field :password %>
      </div>
      <div class="form_row">
        <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="form_row">
        <%= f.submit "Zmień hasło!" %>
      </div>

    <% end %>
    
  </div>

</div>