<% content_for :left do -%>
  &nbsp;
<% end -%>

<% content_for :ccol_style do -%>
  ccol_wider
<% end -%>


<div id="user_show">
  <div class="col_left">
    <%= render :partial => "users/about", :locals => {:user => @user, :quad => @user.quad } %>
    <%= render :partial => "users/quad", :locals => {:user => @user } %>
  </div>
  <div class="col_right">
    <%= render :partial => "users/friends", :locals => {:user => @user } %>
    <%= render :partial => "users/galleries", :locals => {:user => @user } %>
    <%= render :partial => "users/groups", :locals => {:user => @user } %>

  </div>
  <div class="clr"></div>
  
<%#= render :partial => "users/links", :locals => {:user => @user } %>
<%#= render :partial => "users/quad", :locals => {:user => @user } %>



  <%= render :partial => "comments", :locals => { :commentable => @user } if @user.friends.include?(current_user) or @user == current_user %>
</div>
