.nav_gal
  = link_to "Galeria", eval("#{@gallery.galleriable.class.to_s.downcase}_galleries_path(@gallery.galleriable)")

  - unless @video.gallery.nil?
    &raquo;
    = link_to @video.gallery.name, eval("#{@gallery.galleriable.class.to_s.downcase}_gallery_path(@gallery.galleriable, @gallery)")

  - unless @video.nil?
    &raquo;
    - label = "film" + ( @video.description != "" ? " #{truncate(@video.description, 40, '..')}" : "" )
    = link_to label, video_path(@video), :class => "nav_photo"