.partial
  .header Dodaj film!
  .body
    #info
      %p Proces ładowania filmu na serwer może potrwać kilka-kilkanaście minut, w zależności od rozmiaru pliku
      %p Po zakończeniu ładowania poczekaj na odświeżenie strony
      %p W tym czasie zajmujemy się przekodowaniem Twojego filmu i może to potrwać kolejne kilka minut
      %p Zarówno pole 'Tytuł', 'Opis' jak i 'Film' muszą być uzupełnione


    = hidden_field_tag :_quadomaniacy_session, cookies[:_quadomaniacy_session]

    #jcu_error_container
    %br

    - form_for(video, :url => create_video_path, :html => {:id => "jcUploadForm", :multipart => true}) do |form|
      = form.hidden_field :gallery_id

      .form_row
        = form.label :title, "Tytuł"
        = form.text_field :title
        %span{:id => 'title_errors'}

      %br
      .form_row
        = form.label :description, "Opis"
        = form.text_field :description

      .form_row
        %br
        #jcupload_content
  
      .form_row
        .button_silver_67.submit{ :style => "border: 1px solid #AAA; height:24px; margin-right:5px;" }
          = toggle_video_form 'Zamknij', :reload => true





