.partial
  .header Dodaj film!
  .body
    #info
      %p Proces ładowania filmu na serwer może potrwać kilka-kilkanaście minut, w zależności od rozmiaru pliku
      %p Po zakończeniu ładowania poczekaj na odświeżenie strony
      %p W tym czasie zajmujemy się przekodowaniem Twojego filmu i może to potrwać kolejne kilka minut
      %p Zarówno pole 'Tytuł', 'Opis' jak i 'Film' muszą być uzupełnione

    - form_for video, :url => videos_path(:upload_id => uuid), :html => { :multipart => true, :onsubmit => "return validate(this, #{escape_javascript uuid} ); return false;" } do |form|
      = form.hidden_field :gallery_id

      .form_row
        = form.error_messages

      .form_row
        = form.label :title, "Tytuł"
        = form.text_field :title

      .form_row
        = form.label :description, "Opis"
        = form.text_field :description

      .form_row
        = form.label :uploaded_data, "Film"
        = form.file_field :uploaded_data

      .form_row
        = form.submit 'Upload', :class => 'submit', :id => 'vup_submit', :style => 'width:75px;'
        .button_silver_67.submit{ :style => "border: 1px solid #AAA; height:24px; margin-right:5px;" }
          = toggle_video_form 'Zamknij', :reload => true


    #results
    #progress-bar