.partial
  .header Dodaj film!
  .body
    #info
      %p Proces ładowania filmu na serwer może potrwać kilka-kilkanaście minut, w zależności od rozmiaru pliku
      %p Po zakończeniu ładowania poczekaj na odświeżenie strony
      %p W tym czasie zajmujemy się przekodowaniem Twojego filmu i może to potrwać kolejne kilka minut
      %p Zarówno pole 'Tytuł', 'Opis' jak i 'Film' muszą być uzupełnione



    - form_for(video, :url => {:controller => 'videos', :action => 'set_attributes'}, :html => {:id => "swfuploadForm", :multipart => true}) do |form|
      = form.hidden_field :gallery_id

      .form_row
        = form.label :title, "Tytuł"
        = form.text_field :title
        %span{:id => 'title_errors'}

      %br
      .form_row
        = form.label :description, "Opis"
        = form.text_field :description

      %br
      %div
        .form_row
          %label{:for => 'txtFileName'} Film (10 MB max)
          <input type="text" id="txtFileName" disabled="true" style="border: solid 1px; background-color: #FFFFFF;float:left;margin-left: 70px; margin-right: 10px;" />
          <span id="spanButtonPlaceholder"></span>


        %div
          %div{:class => "flash",  :id => "fsUploadProgress"}
        <input type="hidden" name="hidFileID" id="hidFileID" value="" />  

      %br
      .form_row
        <input type="submit" value="Dodaj" id="btnSubmit" />












