<%= iframe_styles %>

<% if @line %>
  <div class="find_line">
    <%= @line %>
  </div>
<% end %>
<% if @videos and @videos.length > 0 %>
  <%  @videos.each do |video| %>
    <div class="event">
      <div class="event_body">
        <div style="float:left;width:100px">
          <%= link_to (image_tag video.link[0...-3]+"jpg"),{:controller => "video", :action => "show", :id => video.id}, {:target => "_parent"} %>
        </div>
        <div style="float:left;width:200px">
          <div class="event_body_left">
            <br/>
            <div class="event_body_info">
              Dodał: <%= video.gallery.user ? video.gallery.user.login : video.gallery.event.user.login %><br/>
              Dnia: <%=ltd video.created_at%><br/>
              Ocena: <%=  video.vrate.votes==0 ? 0 : (video.vrate.sum.to_f / video.vrate.votes).round(2) %><br/>
              Ilość wyświetleń: <%= video.counter %><br/>
              
              <br/>

            </div>

          </div>
        </div>
        <div style="float:left">
          <p class="event_description"><%=ntobr (cut video.description, 200) %></p>
        </div>
        <div class="clear"></div>
      </div>

    </div>
  <% end %>
<%  else%>
  <% if params[:since] %>
    Niestety, nie znaleziono filmów...
  <% end %>
<% end %>