.partial
  .header Dodaj film!
  .body
    #info
      %p Proces ładowania filmu na serwer może potrwać kilka-kilkanaście minut, w zależności od rozmiaru pliku
      %p Po zakończeniu ładowania poczekaj na odświeżenie strony
      %p W tym czasie zajmujemy się przekodowaniem Twojego filmu i może to potrwać kolejne kilka minut
      %p Zarówno pole 'Film', jak i 'Opis' muszą być uzupełnione

    #progress{ :style => 'display: none;' }
      #bar{ :style => 'width: 0%;' } 0%

    - form_for @video, :url => "/users/#{@user.id}/galleries/#{@gallery.id}/videos?X-Progress-ID=#{@uuid}", :html => { :multipart => true } do |form|
      = hidden_field_tag "X-Progress-ID", @uuid

      .form_row
        = form.error_messages

      .form_row
        = form.label :title, "Tytuł"
        = form.text_field :title

      .form_row
        = form.label :description, "Opis"
        = form.text_field :description

      .form_row
        = form.label :uploaded_data, "Film"
        = form.file_field :uploaded_data

      .form_row
        = form.submit 'upload video', :class => 'submit', :style => 'width:75px;'
        .button_silver_67.submit{ :style => "border: 1px solid #AAA; height:24px; margin-right:5px;" }
          = link_to "Zamknij", user_galleries_path(@user)