<div class="partial">
  <div class="header p_event_f"></div>
  
  <div class="body">
    <% for event in @events %>
      <div class="event">
        <% if event.rights?(curuser) and event.event_start >= (Date.today) %>
          <div class="event_edit">
            <%= link_to (image_tag "/edit.png"), edit_event_path(event), {:title => "Edytuj"} %>
          </div>
          <div class="event_delete">
            <%= link_to (image_tag "/delete.png"), event_path(event), {:method => :delete, :title => "Usuń", :confirm => "Czy na pewno chcesz usunąć tę imprezę?"} %>
          </div>
        <% end %>
        <div class="event_header">
          <span>
            <span style="font-weight:normal;border:none;color:#777; font-size: 8pt;">Kategoria:</span>
            <span style='font-size: 8pt;'><%= event.event_category.name if event.event_category %></spa>
          </span>
        </div>
        <div class="event_body">
          <div>
            <span style="font-size:10pt;"><%= link_to event.title, event_path(event) %></span>
          </div>
          <div class="clr"></div>
          <div class="col1_event">
            <div class="event_body_left">
              <br/>
              <div class="event_body_info">
                Początek: <%= ltd event.event_start %><br/>
                Koniec: <%=ltd event.event_end%><br/>
                Miejsce: <%= event.place %><br/>
                <br/>

              </div>

            </div>
          </div>
          <div class="col2_event">
            <p class="event_description"><%=ntobr (cut event.description, 200) %></p>
          </div>
          <div class="clr"></div>
        </div>

      </div>
    <% end %>

    <div class="col1">
      <div class="button_gold_100" style="font-size:10pt; font-weight: bold;float:left;margin-top:7px;">
        <%= link_to "Dodaj nową", new_event_path %>
      </div>
    </div>
    
    <div class="col2">
      <div class="button_silver_75" style="font-size:10pt; font-weight: bold;float:right;margin-top:7px;">
        <%= link_to "Wszystkie" , find_events_path %>
      </div>
    </div>

    <div class="clr"></div>

  </div>
</div>
