
<div id="ccol">
  <div>
    <div class="partial">
      <div class="header p_event"><%=cut(@event.title,20) %></div>
      <div class="body">
        <div style='float: right; text'>
          Kategoria: <%= @event.category %>
          <hr/>
          Początek: <%= ltd @event.event_start %>
          <br/>
          Koniec: <%= ltd @event.event_start %>
          <br/>
          Miejsce: <%= @event.place %>
        </div>  


       <div class="clr"></div>     
       <br/><br/>
       <b>Opis</b>

      <div style='padding-top: 10px;padding-bottom: 20px;'>
        <%= @event.description  -%>    
      </div>      

      <b>Organizator:</b> <%= @event.organiser_name %>
      <br/>
      <b>Adres:</b> <%= @event.organiser_address %>
      <br/>
      <b>Telefon:</b> <%= @event.organiser_phone %>
      <br/>
      <% unless @event.organiser_www == "" %>
        <b>Strona WWW:</b> <%= @event.organiser_www %>
      <% end %>

      <% unless @event.organiser_email == "" %>
        <b>Adres email:</b> <%= @event.organiser_email %>
      <% end %>

      <p>
        <b>Imprezę dodał użytkownik:</b> <%=link_to @event.user.login, user_path(@event.user) %>
      </p>

        <% begin %>
          <div>
            <div class="grey_link" style="text-align:right;display:block;float:left">
              <%= link_to "Edytuj", edit_event_path(@event), {:title => "Edytuj"} %>
            </div>
            <div class="grey_link" style="text-align:right;display:block;float:right">
              <%=link_to "Usuń", event_path(@event), {:method => :delete, :title => "Usuń", :confirm => "Czy na pewno chcesz usunąć tę imprezę?"}%>
            </div>
            <div class="clr"></div>
          </div>
        <% end if @event.rights?(curuser) and @event.event_start >= (Date.today) %>
      </div>
    </div>
    <div class="partial">
      <div class="header p_mygalleries"></div>
      <div class='body'>
        <% if @event.galleries.length>0 %>

          <% format_galleries(@event).reverse[0...2].each do |gallery| %>
            <div class="latest_item">
              <%= render :partial => "gallery/gallery2", :locals => {:gallery => gallery[0], :index => (gallery[1] +1)} %>
            </div>
          <% end %>
          <div class="clr"></div>

        <% else %>
          Impreza nie ma jeszcze galerii
        <% end %>

        <div class="button_silver_75" style="float:right;">

          <% if @event.galleries.length>0%>
            <%= link_to "Pokaż wszystkie albumy", {:controller => "gallery", :action => "elist", :id => @event.id}, :class => "opt_link" %>
          <% elsif @event.rights?(curuser) %>
            <%= link_to "Dodaj album", {:controller => "gallery", :action => "elist", :id => @event.id}, :class => "opt_link" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>


  <% unless @event.relation.nil? or @event.relation == "" %>
    <div class="partial">
      <div class="header p_event_rel">Relacja z imprezy</div>
      <div class="body">
        <%= ntobr @event.relation  %>
      </div>
    </div>
  <% end %>


  <%= link_to "Lista imprez", {:controller => "events", :action => "list", :id => 0}, :class => "event_back_link" %>

  <div id="add_obj">
    <br/>

    <% if @event.rights?(curuser) and !@event.relation %>
      <div>
        <div class="button_silver_75<%=(Time.now < @event.event_start) ? "\" onMouseOver=\"Effect.Appear('v_msg')" : ""%>" style="text-align:right;display:block;float:left">
          <%= (Time.now >= @event.event_start) ? (link_to_remote "Dodaj relację!", :url => {:action=>"r_unfold", :id => @event.id}) : "<a href=\"#\"> Dodaj relację</a>" %>
        </div>
        <%  if (Time.now < @event.event_start)%>
          <div class="clr"></div>
          <div id="v_msg" style="border:red;background:#faa;padding:5px;margin:10px;">
            Relację można dodać najwcześniej w dniu rozpoczęcia imprezy!
          </div>
        <% end %>
        <div class="clr"></div>
      </div>
    <%end%>
    <div class="clr"></div>
  </div>

</div>
