<div class="partial latest_items">
  <%= insert_corners %>
  <div class="mheader">Edytuj grupę</div>
  
  <div class="body">
    <% form_for(:team) do |f| %>
      <%= f.error_messages %>

      <div class="form_row">
        <%= f.label :name, "Nazwa"%>
        <%= f.text_field :name %>
      </div>
      <div class="form_row">
        <%= f.label :description, "Opis"%>
        <%= f.text_area :description, :rows => 10 %>
      </div>
      <div class="form_row">
        <%= f.submit "Zapisz zmiany", :class => "submit" %>
      </div>

    <% end %>

  </div>
</div>