
<div class="partial">
  <div class="header p_comments"></div>
  <div class='body'>
    <div class="new_comment">
      <%  form_for :comment, :url => {:controller => "comment", :action => "new", :id => @user.id}do |f|%>
          <%= f.text_area :content, :style => "height: 100px; width:85%; border:1px solid #aaa"%>
        <div class="button_silver_67" style="font-size:10pt; font-weight: bold;float:right;margin-top:77px;">
          <a style="" href="#" onclick="parentNode.parentNode.submit(); return false">Dodaj</a>
        </div>
        <div class="clr"></div>

      <% end %>
    </div>

<div class="comment_info">
<% unless user.received_comments or user.received_comments.empty? %>

Ten użytkownik nie ma jeszcze komentarzy...
<% else %>
<hr/>
Komentarze:
<% end %>
</div>

<% for comment in user.received_comments.reverse %>
<div class="comment">
<div class="comment_user">
<%= img comment.sender.photo %>
<%= link_ comment.sender.login, "user", "show", comment.sender.id%>
</div>
<div class="comment_content">
<%=ntobr comment.content %>
</div>
<div class="clr"></div>
<div class="comment_other">
<%= lt comment.created_at %>
<%= link_ "Usuń komentarz", "pcomment", "delete", comment.id, "Czy na pewno chcesz usunąć komentarz?" if comment.sender==curuser or comment.receiver==curuser%>
</div>
</div>
<% end %>

  </div>
</div>