<div class="partial">
  <div class="header p_gal"> <%#Zdjęcia w albumie "<%=@gallery.name %></div>

  <div class="body">
    <%= render :partial => "gallery/nav", :locals => {:gallery => @gallery, :user => (@gallery.user.nil? ? @gallery.event : @gallery.user) } %>
    <% if @photos.length > 0  %>
      <table class="gallery">
        <% for photot in @photos %>
          <tr>
            <% for photo in photot %>
              <td>
                <% if photo.class==Photo %>
                  <div class="photo_m">
                    <%= link_ image_tag(photo.thumb), "photo", "show", photo.id %>
                    <div class="clear"></div>
                    <div class="gallery_opt">
                      <table>
                        <tr>
                          <td class="gal_opt_left">
                            Dodano:
                          </td>
                          <td class="gal_opt_right">
                            <%=ltd photo.created_at %>
                          </td>
                        </tr>
                        <% if photo.description!="" %>
                          <tr>
                            <td class="gal_opt_left">
                              Opis:
                            </td>
                            <td class="gal_opt_right">
                              <%=cut(photo.description,9) if photo.description!="" %>
                            </td>
                          </tr>
                        <% end %>
                        <% if photo.rights?(curuser)%>
                          <tr>
                            <td class="gal_opt_left">
                              <%= link_to_remote (image_tag "/edit.png"), :url => {:action=>"p_edit", :id => photo.id}, :html => {:title => "Edytuj zdjęcie", :class => "picture_link"} if photo.rights?(curuser)%>
                            </td>
                            <td class="gal_opt_right">
                              <%= link_to (image_tag "/delete.png"), {:controller => "photo", :action => "delete", :id => photo.id}, {:confirm => "Czy jesteś pewien?", :title => "Usuń zdjęcie", :class => "picture_link"} if photo.rights?(curuser) %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  </div>
                <% else %>
                  <div class="photo_m">

                    <%= link_ image_tag(photo.link[0...-3] + "jpg"), "video", "show", photo.id %>
                    <div class="clear"></div>
                    <div class="gallery_opt">
                      <table>
                        <tr>
                          <td class="gal_opt_left">
                            Dodano:
                          </td>
                          <td class="gal_opt_right">
                            <%=ltd photo.created_at %>
                          </td>
                        </tr>
                        <% if photo.description!="" %>
                          <tr>
                            <td class="gal_opt_left">
                              Opis:
                            </td>
                            <td class="gal_opt_right">
                              <%=cut(photo.description,9) if photo.description!="" %>
                            </td>
                          </tr>
                        <% end %>
                        <% if photo.rights?(curuser)%>
                          <tr>
                            <td class="gal_opt_left">
                              <%= link_to_remote (image_tag "/edit.png"), :url => {:action=>"v_edit", :id => photo.id}, :html => {:title => "Edytuj film", :class => "picture_link"} if photo.rights?(curuser)%>
                            </td>
                            <td class="gal_opt_right">
                              <%= link_to (image_tag "/delete.png"), {:controller => "video", :action => "delete", :id => photo.id}, {:confirm => "Czy jesteś pewien?", :title => "Usuń film", :class => "picture_link"} if photo.rights?(curuser) %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  </div>
                <%end%>
              </td>
            <% end %>
          </tr>
        <%end%>
      </table>
    <% else %>
      <br/><br/><br/>
      Album jest pusty!<br/><br/>
    <% end %>

    <div id="add_obj">
      <br/>

      <div class="button_gold_100" style="text-align:left;display:block;float:left;">
        <%= link_to "Wszystkie albumy", {:controller => "gallery", :action => @gallery.user.nil? ? "elist" : "list", :id => @gallery.user.nil? ? @gallery.event : @gallery.user }, :style => "padding-top:1px;"%>
      </div>
      <% if @gallery.rights?(curuser) %>
        <div class="button_silver_75" style="text-align:right;display:block;float:right">
          <%= link_to_remote "Dodaj zdjęcie!",{ :url => {:action=>"p_unfold", :id => @gallery.id}}, :style => "padding-top:1px;"  %>
        </div>
        <div class="button_silver_75" style="text-align:right;display:block;float:right">

          <%= link_to_remote "Dodaj film!", {:url => {:action=>"v_unfold", :id => @gallery.id}}%>
        </div>
      <%end%>
      <div class="clr"></div>
    </div>



  </div>
</div>