.nav_gal
  = link_to "Galeria", eval("#{@gallery.galleriable.class.to_s.downcase}_galleries_path(@gallery.galleriable)")

  - unless @gallery.nil?
    &raquo;
    = link_to @photo.gallery.name, eval("#{@gallery.galleriable.class.to_s.downcase}_gallery_path(@gallery.galleriable, @gallery)")

  - unless @photo.nil?
    &raquo;
    - label = "zdjęcie" + ( @photo.description != "" ? " #{truncate(@photo.description, 40, '..')}" : "" )
    = link_to label, photo_path(@photo), :class => "nav_photo"				  