.nav_gal
  = link_to "Galeria", eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_galleries_path(@gallery.galleriable)")

  - unless @gallery.nil?
    &raquo;
    = link_to @photo.gallery.name, eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@gallery.galleriable, @gallery)")

  - unless @photo.nil?
    &raquo;
    - label = "zdjęcie" + ( @photo.description != "" ? " #{truncate(@photo.description, 40, '..')}" : "" )
    = link_to label, "#", :class => "nav_photo"				  