.partial
  .header Dodaj zdjęcie!
  .body
    - form_for photo, :url => photos_path, :html => { :multipart => true } do |f|
      = f.hidden_field :gallery_id

      .form_row
        = f.label :description, "Opis"
        = f.text_field :description

      .form_row
        = f.label :uploaded_data, "Zdjęcie"
        = f.file_field :uploaded_data

      - if allow_main_photo
        .form_row
          = label_tag :mark_as_main_photo, "Ustaw jako główne"
          = check_box_tag :mark_as_main_photo

      .form_row
        = f.submit "Dodaj", :class=>"submit", :disable_with => "Twoje zdjęcie jest właśnie ładowane, proszę, czekaj..."
        .button_silver_67.submit{ :style => "border: 1px solid #AAA; height:24px; margin-right:5px;" }
          = link_to 'Zamknij', '#', :id => 'toggle_photo_form'
