<div class="partial partial_right">
  <div class="header p_l_photos">
  </div>
  <div class='body'>
    <table class="p_photos">
      <tr>
        <% for photo in photos[0...2]  %>
          <td>
            <div>
              <%= link_ image_tag(photo.thumb80), "photo", "show", photo.id %><br/>
            </div>
            <%= link_ photo.gallery.user.login, "user", "show", photo.gallery.user.id%>
          </td>

        <% end %>
      </tr>
      <tr>
        <% if photos.length > 2
          for photo in photos[2...4]  %>
          <td>
            <div>
              <%= link_ image_tag(photo.thumb80), "photo", "show", photo.id %><br/>
            </div>
            <%= link_ photo.gallery.user.login, "user", "show", photo.gallery.user.id%>
          </td>

        <% end %>
      </tr>
      <tr>
        <%if photos.length > 4
          for photo in photos[4...6]  %>
          <td>
            <div>
              <%= link_ image_tag(photo.thumb80), "photo", "show", photo.id %><br/>
            </div>
            <%= link_ photo.gallery.user.login, "user", "show", photo.gallery.user.id%>
          </td>

        <%end
      end
    end %>
      </tr>
      </table>
          <div class="button_silver_67" style="float:right">
            <%= link_to "Wszystkie", :controller => "photo", :action => "find" %>
          </div>
    <div class="clr"></div>
  </div>
</div>