

<div class="button_menu"><%= link_to "START", {:controller => "site", :action => "index"}, {:style => "color: orange"}  %>

</div>

<div class="button_menu"><%= link_ "PROFIL", "users", "show" %>
  <div>
    <div><%= link_to "Mój profil", curuser ? user_path(curuser) : '#' -%></div>
    <div><%= link_to "Edytuj profil", curuser ? edit_user_path(curuser) : '#'  %></div>
    <div><%= link_ "Galeria", "gallery", "list"  %></div>
    <div><%= link_ "Moje imprezy", "event", "list",(curuser ? curuser.id : 0) %></div>
  </div>
</div>

<div class="button_menu"><%= link_ "POCZTA", "message", "index"  %>
  <div>
    <div><%= link_ "Napisz wiadomość", "message", "newr"  %></div>
    <div><%= link_ "Odebrane (#{curuser.nil? ? 0 : curuser.unread})", "message", "received"  %></div>
    <div><%= link_ "Wysłane", "message", "sent"  %></div>
  </div>
</div>

<div class="button_menu"><%= link_to "ZNAJOMI", friends_index_user_path(curuser)  %>
  <div>
    <div><%= link_to "Znajomi", friends_user_path(curuser)  %></div>
    <div><%= link_to "Wysłane zaproszenia", pending_user_path(curuser)  %></div>
    <div><%= link_to "Otrzymane zaproszenia", requested_user_path(curuser)  %></div>
  </div>
</div>

<div class="button_menu"><%= link_ "GRUPY", "team", "index"  %>
  <div>
    <div><%= link_ "Moje grupy", "users", "myteams"  %></div>
    <div><%= link_ "Wszystkie grupy", "team", "list"  %></div>
    <div><%= link_ "Utwórz grupę", "team", "new"  %></div>
    <div><%= link_ "Znajdź grupę", "team", "find"  %></div>
  </div>
</div>

<div class="button_menu"><%= link_ "FORUM","forum", "login"  %></div>

<div class="clr">

</div>
