.button_menu
  = link_to "START", {:controller => "site", :action => "index"}, {:style => "color: orange"}
.button_menu
  = link_to "PROFIL", current_user ? user_path(current_user) : '#'
  %div
    %div= link_to "Mój profil", current_user ? user_path(current_user) : '#'
    %div= link_to "Edytuj profil", curuser ? edit_user_path(current_user) : '#'
    %div= link_ "Galeria", "gallery", "list"
    %div= link_to "Moje imprezy", :controller => "events", :action => "list", :id => (current_user ? current_user.id : 0)
.button_menu
  = link_ "POCZTA", "message", "index"
  %div
    %div= link_ "Napisz wiadomość", "message", "newr"
    %div= link_ "Odebrane (#{current_user.nil? ? 0 : current_user.unread})", "message", "received"
    %div= link_ "Wysłane", "message", "sent"
.button_menu
  = link_to "ZNAJOMI", current_user ? friends_index_user_path(current_user) : '#'
  %div
    %div= link_to "Znajomi", current_user ? friends_user_path(current_user) : '#'
    %div= link_to "Wysłane zaproszenia", current_user ? pending_user_path(current_user) : '#'
    %div= link_to "Otrzymane zaproszenia", current_user ? requested_user_path(current_user) : '#'
.button_menu
  = link_to "GRUPY", teams_path
  %div
    %div= link_to "Moje grupy", current_user ? myteams_user_path(current_user) : '#'
    %div= link_to "Wszystkie grupy", list_teams_path
    %div= link_to "Utwórz grupę", new_team_path
    %div= link_to "Znajdź grupę", find_form_teams_path
.button_menu= link_ "FORUM","forum", "login"
- if current_user and current_user.is_admin?
  .button_menu= link_to 'Admin', admin_panel_path 
.clr
