<div class="partial">
  <div class="mheader">Nowy quad</div>

  <% form_for :quad do |f| %>
    <div class="form_row">
      <%= f.label :company_id, "Producent" %>
      <%= f.collection_select :company_id, Company.all. :id, :name, { :include_blank => true } %>
    </div>
    <div class="form_row">
      <%= f.label :qtype, "Typ/szczegóły" %>
      <%= f.text_field :qtype %>
    </div>
    <div class="form_row">
      <%= f.label :description, "opis" %>
      <%= f.text_area :description, :rows => 10  %>
    </div>
    <div class="form_row">
      <%= f.submit "Dodaj quada",:class => "submit" %>
    </div>

  <% end %>
</div>
