.clr
.gallery_opt_left
  %table
    - if asset.created_at
      %tr
        %td.gal_opt_lef Dodano
        %td.al_opt_right= asset.created_at.strftime("%d.%m.%Y, %H:%M") 

    - if defined?(asset.title)
      %tr
        %td.gal_opt_left Tytuł:
        %td.gal_opt_right= asset.title

    - if asset.description !=""
      %tr
        %td.gal_opt_left Opis:
        %td.gal_opt_right= truncate(asset.description, 9, '...')

    - if asset.rights?(current_user)
      %tr
        %td.gal_opt_left
          = link_to image_tag("/edit.png"), eval("edit_#{asset.class.to_s.downcase}_path(asset)"), { :title => "Edytuj", :class => "picture_link" }
        %td.gal_opt_right
          = link_to image_tag("/delete.png"), eval("#{asset.class.to_s.downcase}_path(asset)"), { :method => :delete, :confirm => "Czy jesteś pewien?", :title => "Usuń", :class => "picture_link"} 
