.gallery
  .lcol_user= link_to image_tag(gallery.thumbnail ? gallery.thumbnail.public_filename : '../gallery.png'), eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@galleriable, gallery)")

  .rcol_user
    .about_links
      .name= link_to gallery.name, eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@galleriable, gallery)")
      .photos
        Zdjęć:
        %div= gallery.photos.nil? ? 0 : gallery.photos.length
      .movies
        Filmów:
        %d= gallery.videos.nil? ? 0 : gallery.videos.length

      .actions
        .gallery_link_edit{ :style => "float:left" }
          - if gallery.rights?(current_user)
            = link_to image_tag("/edit.png"), eval("edit_#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@galleriable, gallery)"), { :title => "Edytuj album", :class => "picture_link" }
	  
        .gallery_link_delete
          - if gallery.rights?(curuser)
            = link_to image_tag("/delete.png"), eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_gallery_path(@galleriable, gallery)"), { :method => :delete, :confirm => "Czy jesteś pewien? Usunięcie albumu spowoduje usunięcie wszystkich zdjęć w nim zawartych", :title => "Usuń album", :class => "picture_link" }

  .clr

