.partial
  .header.p_gal

  .body
    = render :partial => "nav"

    - unless @gallery.photos.empty?
      %table.gallery
        - @gallery.photos.in_groups_of(3).each do |triple|
          %tr
            - triple.each do |photo|
              %td
                .photo_m
                  - unless photo.nil?
                    = link_to image_tag(photo.public_filename(:thumb)), photo_path(photo)
                    = render :partial => "asset", :object => photo
                 
    - unless @gallery.videos.empty?
      %table.gallery
        - @gallery.videos.in_groups_of(3).each do |triple|
          %tr
            - triple.each do |video|
              %td
                .photo_m
                  - unless video.nil?
                    = link_to((video.thumbnail ? (image_tag(video.thumbnail.public_filename)) : ("Miniaturka niedostępna")), video_path(video))
                    = render :partial => "asset", :object => video

    - if @gallery.photos.empty? && @gallery.videos.empty?
      %p Album jest pusty!


    #buttons
      .button_gold_100{ :style => "text-align:left;display:block;float:left;" }
        = link_to "Wszystkie albumy", eval("#{@galleriable.is_a?(User) ? 'user' : 'event'}_galleries_path(@galleriable)")
      - if @gallery.rights?(current_user)
        .button_silver_75{ :style => "text-align:right;display:block;float:right" }
          = toggle_photo_form 'Dodaj zdjęcie!'
        .button_silver_75{ :style => "text-align:right;display:block;float:right;margin-right:5px;" }
          = toggle_video_form 'Dodaj film!'

    .clr

    #video_form{:style => 'margin-top:10px;'}
      = render :partial => 'videos/new', :locals => { :video => @gallery.videos.build, :uuid => Time.now.to_i.to_s }

    #photo_form{:style => 'display:none;margin-top:10px;'}
      = render :partial => 'photos/new', :locals => { :photo => @gallery.photos.build, :allow_main_photo => false }