.partial
  .header.p_gal

  .body
    = render :partial => "nav", :locals => {:gallery => @gallery, :user => (@gallery.user.nil? ? @gallery.event : @gallery.user) }

    - unless @gallery.photos.empty?
      %table.gallery
        - @gallery.photos.in_groups_of(3).each do |triple|
          %tr
            - triple.each do |photo|
              %td
                .photo_m
                  - unless photo.nil?
                    = link_to image_tag(photo.public_filename(:thumb)), user_gallery_photo_path(@user, @gallery, photo)
                    = render :partial => "asset", :object => photo
                 
    - unless @gallery.videos.empty?
      %table.gallery
        - @gallery.videos.in_groups_of(3).each do |triple|
          %tr
            - triple.each do |video|
              %td
                .photo_m
                  - unless video.nil?
                    = link_to (video.thumbnail ? image_tag(video.thumbnail.public_filename) : "Miniaturka niedostępna" ), user_gallery_video_path(@user, @gallery, video)
                    = render :partial => "asset", :object => video

    - if @gallery.photos.empty? && @gallery.videos.empty?
      %p Album jest pusty!


    #add_obj
      .button_gold_100{ :style => "text-align:left;display:block;float:left;" }
        = link_to "Wszystkie albumy", user_galleries_path(@user)
      - if @gallery.rights?(current_user)
        .button_silver_75{ :style => "text-align:right;display:block;float:right" }
          = link_to "Dodaj zdjęcie!", new_user_gallery_photo_path(@user, @gallery)
        .button_silver_75{ :style => "text-align:right;display:block;float:right;margin-right:5px;" }
          = add_video_button 'Dodaj film!'

    .clr

    #add_form