<div class="partial">
  <div class="header p_user_var">
    Zaloguj się!
  </div>
  <div class="body">
    <% form_for @user_session, :url => {:action => "create"} do |f| %>

      <div class="form_row">
        <b><%= f.label :login %></b>
        <%= f.text_field :login %>
      </div>
      <br/>
      <div class="form_row">
        <b><%= f.label :password, "Hasło" %></b>
        <%= f.password_field :password %>
      </div>
      <br/>
      <div class="form_row">
        <b><%= f.label :remember_me, "Zapamiętaj mnie" %></b>
        <%= f.check_box :remember_me, :class => "remember_me" %>
      </div>
      <div class="form_row">
        <%= f.submit "Zaloguj!", :class => 'submit' %>
      </div>


    <% end %>
    <hr style="width:75%;margin-top:15px;"/>
    <p style='font-size: 10px;'>
      Nie masz jeszcze konta? <%= link_to "Zarejestruj się", new_user_path %><br/>
      Nie pamiętasz hasła? <%= link_to "Kliknij!", ulogin_users_path %>
    </p>
  </div>

</div>
