.form_row
  = form.label :type, 'Typ ogłoszenia: '
  = select_tag :ad_type, options_for_select([['kupie','buy_ad'],['sprzedam','sale_ad']])
%br
.form_row
  = form.label :seller, 'Sprzedaje'
  = form.select :seller, options_for_select(sellers_for_select, form.object.seller), :include_blank => true
  = form.error_message_on :seller
%br
.form_row
  = form.label :condition, 'Stan'
  = form.select :condition, options_for_select(conditions_for_select, form.object.condition), :include_blank => true
  = form.error_message_on :condition
%br
.form_row    
  = form.label :category, 'Kategoria'
  = form.select :category, options_for_select(categories_for_select, form.object.category), :include_blank => true
  = form.error_message_on :category
%br
.form_row
  = form.label :email, 'Email'
  = form.text_field :email
  = form.error_message_on :email
%br
.form_row
  = form.label :phone, 'Telefon'
  = form.text_field :phone
  = form.error_message_on :phone
%br
.form_row
  = form.label :title, 'Tytuł'
  = form.text_field :title
  = form.error_message_on :title
%br
.form_row
  = form.label :description, 'Opis'
  = form.text_area :description, :size => '35x12'
  = form.error_message_on :description
%br
.form_row
  = form.label :company_id, 'Marka'
  = form.collection_select :company_id, Company.all, :id, :name, { :include_blank => true }
  = form.error_message_on :company_id
%br
.form_row
  = form.label :state_id, 'Województwo'
  = form.collection_select :state_id, State.all, :id, :name, { :include_blank => true }
  = form.error_message_on :state_id
%br
.form_row
  = form.label :kind, 'Typ'
  = form.text_field :kind
  = form.error_message_on :kind
%br
.form_row   
  = form.label :capacity, 'Pojemność'
  = form.text_field :capacity
  = form.error_message_on :capacity
%br
.form_row
  = form.label :year, 'Rok'
  = form.text_field :year
  = form.error_message_on :year
%br
.form_row
  = form.label :mileage, 'Przebieg'
  = form.text_field :mileage
  = form.error_message_on :mileage
%br
.form_row
  = form.label :price, 'Cena'
  = form.text_field :price
  = form.error_message_on :price




