#lcol
  %div{:class => "partial partial_left"}
    %div{ :class => "header"}
    .body
      %ul.states
        %li= link_to "Użytkownicy", users_path
        %li= link_to "Grupy", admin_list_teams_path
        %li= link_to "Imprezy", events_path
        %li= link_to "Ogłoszenia sprzedaży", sale_ads_path
        %li= link_to "Ogłoszenia kupna", buy_ads_path
        %li= link_to "Sklepy", shops_path
        %li= link_to "Serwisy", home_workshops_path
        %li= link_to "Zdjęcia", list_photos_path
        %li= link_to "Filmy", list_videos_path
        %li= link_to "Reklamy", banners_path
        %li= link_to "Statystyki", "http://www.google.com/analytics/"

