#lcol
  = render :partial => "layouts/states"
  = render :partial => "site/find" if logged_in?
  = render :partial => "layouts/quads"
  %div{:style => 'margin-top:10px'}
    = link_to image_tag(params['black'] ? "../services_d.png" : "../services.png"), workshops_path
  %div{:style => 'margin-top:10px'}
    = link_to image_tag(params['black'] ? "../shops_d.png" : "../shops.png"), shops_path
  = render :partial => "site/top_10_videos", :locals => {:top_videos => s_top_videos }
