#rcol
  - if logged_in?
    = render :partial => "site/user", :controller => "site", :locals => {:user => current_user}
    = render :partial => "site/messages", :controller => "site", :locals => {:user => current_user}
    = render :partial => "site/find_video", :controller => "site", :locals => {:user => current_user}
  - else
    = render :partial => "site/login" unless ["/users/login", "/users/register", "/user_sessions/create"].include?(request.request_uri)
    = render :partial => "layouts/latest_users"
    = render :partial => "site/latest_photos", :locals => {:photos => s_latest_photos }

  = render :partial => "site/calendar", :controller => "site", :locals => {:events => incoming_events, :calendar_options => calendar_options}
