= form_authenticity_token_tag

= javascript_include_tag 'swfupload/swfupload.js', 'swfupload/fileprogress.js'

= javascript_include_tag 'jquery/jquery-1.3.2', 'jquery/jquery.livequery', 'jquery/jquery.inherit-1.0.9', 'jquery/jquery.form', 'jquery/jquery.delegate', 'jquery/jquery-validate/jquery.validate', 'jquery/jquery.log', 'jquery/jquery.string', 'jquery/jquery.utils', 'jquery/jquery.ons.utils', 'jquery/ajaxupload'

= javascript_include_tag 'flashobject'
  
= javascript_include_tag 'application', 'admin', 'flash_message', 'ajax_upload_handler', 'google_maps', 'ad', 'swfupload_handlers', 'swfuploadControl'



= stylesheet_link_tag "main", 'swfupload'

