!!! XML
!!! Strict
%html{'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'pl', 'lang' => 'pl'}
  %head
    %title quadomaniacy.pl

    %meta{'http-equiv' => 'content-type', 'content'=>'text/html; charset=UTF-8'}
    %meta{'name' => 'robots', 'content' => 'index,follow'}
    %meta{'name' => 'keywords', 'content' => 'quady'}
    %meta{'name' => 'description', 'content' => 'quady'}
    - if params[:controller] == 'galleries'
      = render "layouts/scripts"
    - else
      = render "layouts/includes"


  %body{:onload => 'checkScreen();'}
    #page
      = render "layouts/head"
    
      #main
        = content_given?(:left) ? yield(:left) : render("layouts/left")
        
        #ccol{ :class => ( content_given?(:ccol_style) ? yield(:ccol_style) : '' )}
          = render :partial => "layouts/flash", :object => flash

          = yield :layout

        = render "layouts/right"

      = render "layouts/footer"

    //=render :partial => "layouts/google_analytics"
  