!!! XML
!!! Strict
%html{'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'pl', 'lang' => 'pl'}
  %head
    %title quadomaniacy.pl

    %meta{'http-equiv' => 'content-type', 'content'=>'text/html; charset=UTF-8'}
    %meta{'name' => 'robots', 'content' => 'index,follow'}
    %meta{'name' => 'keywords', 'content' => 'quady'}
    %meta{'name' => 'description', 'content' => 'quady'}
    - if params[:controller] == 'galleries' and params[:action] == 'show'
      = render "layouts/scripts"
    - else
      = render "layouts/includes"

  %body{:onload => "startProcedures();"}
    #page
      = render "layouts/head"
      #main
        \&nbsp;
        .partial_login.user-acount
          .header.p_user
            .button_silver_67{:style => "float:right; margin-right:15px; margin-top:5px;"}
              = link_to 'Wyloguj', logout_path, :style => "color: #000; font-size:8pt;"
          .clr
        = render :partial => "users/about", :locals => {:user => @user, :quad => @user.quad }

        #ccol.ccol_wider
          #user_show
            = render :partial => "users/quad", :locals => {:user => @user }
            .col_left
              = render :partial => "users/friends", :locals => {:user => @user }
              = render :partial => "users/groups", :locals => {:user => @user }
              = render :partial => "users/events", :locals => {:user => @user }

            .col_right
              = render :partial => "users/galleries", :locals => {:user => @user }
              = render :partial => "users/ads", :locals => {:user => @user }
            .clr

            = render :partial => "comments", :locals => { :commentable => @user } if @user.friends.include?(current_user) or @user == current_user
        #rcol
          = render :partial => "site/messages", :controller => "site", :locals => {:user => current_user}
          = render :partial => "layouts/find_video"
          = render :partial => "layouts/latest_photos" 
          %div{:style => "margin-top:10px"}
            = link_to image_tag("ogloszenia.png"), home_ads_path
          = render :partial => "site/calendar", :controller => "site", :locals => {:events => incoming_events, :calendar_options => calendar_options}
      = render "layouts/footer"

    / /=render :partial => "layouts/google_analytics"
